* {
    margin: 0;
    padding: 0;
}

.container {

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(242, 100, 34, 0.9304096638655462) 0%, rgba(252, 253, 29, 0.9556197478991597) 50%, rgba(255, 103, 38, 0.76234243697479) 100%);
}

.cabecalho-logo {
    font-size: 30px;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
    font-size: 20px;
}
.cabecalho-menu-item{
    
    cursor: pointer;
}

.cabecalho-menu :hover{

    color: rgb(0, 0, 0);
    transition:  0.4s;
    transform: scale(1.2);
    

}

.sobre {
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.sobre-bloco-texto {
    text-align: center;
}

.sobre-image {
    width: 775px;
    border-radius: 20px;
    margin-left: 15px;
}

.sobre-paragrafo {
    font-size: 20px;
    padding: 40px;
}

.oferecimento {
    background: linear-gradient(90deg, rgba(242, 100, 34, 0.9304096638655462) 0%, rgba(252, 253, 29, 0.9556197478991597) 50%, rgba(255, 103, 38, 0.76234243697479) 100%);


}


.oferecimento-bloco-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

}


.oferecimento-titulo {
    font-size: 35px;
    padding: 10px;
}

.oferecimento-paragrafo {
    font-size: 22px;

}


.oferecimento-imagens {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0px;

}

.oferecimento-titulo-image {
    font-size: 22px;
    padding: 10px;
}

.oferecimento-paragrafo-image {
    font-size: 18px;
    font-style: italic;
    max-width: 280px;
    margin: 0 auto;

}

.oferecimento-image {
    margin-top: 15px;
    width: 550px;
    padding: 0 15px;
    border-radius: 50px;

}

.bloco-formulario{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-img{
    width: 55%;
    margin-top: 30px;
    border-radius: 20px;
}

.formulario{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.input-form{
    padding: 10px;
    border: 1px solid black;
    width: 65%;
    margin: 3px;

}

.form-btn{
    margin-top: 8px;
    padding: 5px;
}

