* {
    margin: 0;
    padding: 0;
}

.container {

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    flex-wrap: wrap;
    background:black;
    color: white;
}

.cabecalho-logo {
    margin-top: 1rem;
    font-size: 3rem;
}

.cabecalho-menu {
    display: flex;
    gap: 5rem;
    font-size: 1.8rem;
    padding: 3rem;
}
.cabecalho-menu-item{
    
    cursor: pointer;
}

.cabecalho-menu :hover{

    color: rgb(255, 255, 255);
    transition:  0.20s;
    transform: scale(1.5);
    

}

.sobre {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
}

.sobre-bloco-texto {
    width: 40%;
    padding: 1.8rem;
    text-align: center;

}

.sobre-image {
    width: 55%;
    border-radius: 2rem;
    margin-left: 1rem;
}
.sobre-titulo {
    font-size: 1.8rem;
    
}

.sobre-paragrafo {
    font-size: 1.5rem;
    padding: 1rem;
}

.oferecimento {
    max-width: 1200px;
    background: linear-gradient(90deg, rgba(242, 100, 34, 0.9304096638655462) 0%, rgba(252, 253, 29, 0.9556197478991597) 50%, rgba(255, 103, 38, 0.76234243697479) 100%);


}


.oferecimento-bloco-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

}


.oferecimento-titulo {
    font-size: 2rem;
    padding: 10px;
}

.oferecimento-paragrafo {
    font-size: 1.8rem;

}


.oferecimento-imagens {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0px;

}

.oferecimento-titulo-image {
    font-size: 2rem;
    padding: 10px;
}

.oferecimento-paragrafo-image {
    font-size: 1.7rem;
    font-style: italic;
    max-width: 280px;
    margin: 0 auto;

}

.oferecimento-bloco-image{

    width: 100%;

}

.oferecimento-image {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   width: 80%;
    
    border-radius: 50px;

}


.bloco-formulario{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.form-img{
    width: 60%;
    margin-top: 1rem;
    border-radius: 2.5rem;
}

.formulario{

    margin-top: 1rem;
    background-color: rgb(255, 236, 127);
    display: flex;
    width: 41%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    max-width: 30%;
    border-radius: 2rem;
    gap: 1.5rem;
    
}

.formulario input{
    width: 70%;
    text-align: center;
    
    border: none;
    border-radius: 5px;
    padding: 2px;
}


   



